.home-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.heading {
  color: #551e53;
  font-size: 30px;
  font-family: 'Roboto';
  font-weight: 800;
  text-align: center;
  margin-top: 30px;
}

.home-img {
  width: 200px;
  width: 200px;
}
